body{
    background: whitesmoke;
    font-family: "Inter" sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    max-width: 1500px;
}

header{
    width: 100%;
    padding: 25px 0 25px 35px;
    margin: -8px 0 20px -8px;
}

main{

}

.textEntrada{
    display: grid;
    position: relative;
    flex-direction: center;
    width: 450px;
    margin-bottom: 10px;
    left: 20%;
}

.entrada{
    resize: none;
}

.cajaEnLinea{
    width: 40%;
    position: relative;
}

.cajaEnLinea img, h6{
    display: inline-flex;
}

h6{
    
}

.cajaBotones{
    width: 20%;
    display: inline-flex;
}

.cajaEnLinea{
    left: 20%;
    margin-top: 375px;
}

.cajaEnLinea .cajaBotones{
    
}

.encr{
    box-sizing: border-box;
    width: 320px;
    height: 60px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    margin-right: 25px;
}

.dscr{
    width: 320px;
    height: 60px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    color: #FFFFFF;
    margin-left: 25px;
}

.dscr, .encr:hover{
    cursor: pointer;
}

.dscr, .encr:active{
    box-shadow: 3px black;
}

.elementos{
    width: 40%;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.separacionUno, .separacionDos{
    position: grid;
    display: inline-flex;
    flex-direction: column;
}

.copiar{
    width: 120px;
    height: 30px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    color: #FFFFFF;
    margin-left: 25px;
}

.salida{
    margin: 0 10px;
    width: 336px;
    height: 100px;
    border: none;
    resize: none;
    background: none;
}

#muñeco{
    width: 336px;
    height: 304px;
}
